<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <title>MAT App</title>
    <script src="{% static 'p5.js' %}"></script>

	<style>
		h1 {text-align: center;}
        p {text-align: center;}
	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    button {
      padding: 10px 20px;
      margin: 5px;
      text-align: center;
      transition-duration: 0.4s;
      cursor: pointer;
      margin:0 auto;
      background-color: green;
      color: #fff;
      display:block;
      border: none;    
      outline: none;
      position: absolute;
      right:    50px;
      bottom:   50px;
      border-radius: 5px;
    }

</style>

<style>

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


  .legend {
    height: 25px;
    width: 500px;
    margin: 20px;
    background-image: linear-gradient(to right,  gold 33%, LimeGreen 33% 67%, Red 67%);
    margin: auto;
  }



</style>

<div class="content">
  <p><br><br><br><br><br><br><br><br><br><br></p>
<h1>Install Barrier Material</h1>

<div class="legend">
<p><br></p>
<p>Too Loose&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Good&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too Tight</p>
</div>
<p><br><br><br><br><br><br><br><br><br><br></p>
</div>


<p><br></p>


<form action="{% url 'index'%}">
    <button .button1 type="Start">Next</button>
</form>

<p></p><br><br><br></p>


<script>
// var topForceData = 10.12321;
// var bottomForceData = 10.2331122;
// var leftForceData = 10.12321132;
// var rightForceData = 10.1212321;

// sessionStorage.setItem("finalTopForceVal", topForceData);
// sessionStorage.setItem("finalBottomForceVal", bottomForceData);
// sessionStorage.setItem("finalLeftForceVal", leftForceData);
// sessionStorage.setItem("finalRightForceVal", rightForceData);

var username = sessionStorage.getItem("USERNAME");
console.log(username);

var tool = sessionStorage.getItem("TOOL");
console.log(tool);

var mat = sessionStorage.getItem("MAT");
console.log(mat);

var topForceData;
var bottomForceData;
var leftForceData;
var rightForceData;

const socket = new WebSocket (
    'ws://' + window.location.host + '/ws/some_url/' // FIX TO CORRECT THING
);

socket.onmessage = function(event) {
  var data = JSON.parse(event.data); //data.<dictionary key>
  
  if(data.sensor == 'topForce') {
    topForceData = data.value;
    sessionStorage.setItem("finalTopForceVal", topForceData);
  }
  else if (data.sensor == 'bottomForce') {
    bottomForceData = data.value;
    sessionStorage.setItem("finalBottomForceVal", bottomForceData);
  }
  else if (data.sensor == 'leftForce') {
    leftForceData = data.value;
    sessionStorage.setItem("finalLeftForceVal", leftForceData);
  }
  else if (data.sensor == 'rightForce') {
    rightForceData = data.value;
    sessionStorage.setItem("finalRightForceVal", rightForceData);
  }
}
        
// top force sensor
var topForce = function(p) {
    p.setup = function() {
       let canvas1 = p.createCanvas(400, 200); 
       var x = (p.windowWidth - p.width) / 2;  
       var y = 0;
       canvas1.position(x, y);
    }

   p.draw = function() {
      p.background(255);     
      // Use color() function
      var c = p.color('gold');
      if (topForceData < 7) {
        c = p.color('gold');
      }
      else if (topForceData > 10) {
        c = p.color('red');
      }
      else {
        c = p.color('LimeGreen');
      }

      // Use fill() function to fill color
      p.fill(c);

      // Draw a circle 
      p.circle(200, 100, 100); 
    }
}
var myTopForce = new p5(topForce);

// bottom force sensor
var bottomForce = function(p) {
    p.setup = function() {
       let canvas2 = p.createCanvas(400, 200); 
       var x = (p.windowWidth - p.width) / 2;
       var y = (p.windowHeight - p.height); 
       canvas2.position(x, y);
    }

   p.draw = function() {
      p.background(255);     
      // Use color() function
      var c = p.color('gold');
      if (bottomForceData < 7) {
        c = p.color('gold');
      }
      else if (bottomForceData > 10) {
        c = p.color('red');
      }
      else {
        c = p.color('LimeGreen');
      }

      // Use fill() function to fill color
      p.fill(c);

      // Draw a circle 
      p.circle(200, 100, 100); 
    }
}
var myBottomForce = new p5(bottomForce);

// left force sensor
var leftForce = function(p) {
    p.setup = function() {
       let canvas3 = p.createCanvas(200, 200);
       var x = 0; 
       var y = (p.windowHeight - p.height)/2;  
       canvas3.position(x, y);  
    }

   p.draw = function() {
      p.background(255);     
      // Use color() function
      var c = p.color('LimeGreen');
      if (leftForceData < 7) {
        c = p.color('gold');
      }
      else if (leftForceData > 10) {
        c = p.color('red')
      }
      else {
        c = p.color('LimeGreen');
      }

      // Use fill() function to fill color
      p.fill(c);

      // Draw a circle 
      p.circle(100, 100, 100); 
    }
}
var myLeftForce = new p5(leftForce);
  

// right force sensor
var rightForce = function(p) {
    p.setup = function() {
       let canvas4 = p.createCanvas(200, 200); 
       var x = p.windowWidth-p.width;
       var y = (p.windowHeight - p.height)/2;  
       canvas4.position(x, y);
    }

    p.draw = function() {
      p.background(255);     
      // Use color() function
      var c = p.color('LimeGreen');
      if (rightForceData < 7) {
        c = p.color('gold');
      }
      else if (rightForceData > 10) {
        c = p.color('red');
      }
      else {
        c = p.color('LimeGreen');
      }

      // Use fill() function to fill color
      p.fill(c);

      // Draw a circle 
      p.circle(100, 100, 100); 
    }
}
var myRightForce = new p5(rightForce);



  
</script>
</body>
</html>

