<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <title>MAT App</title>

	<style>
		h1 {text-align: center;}
    p {text-align: center;}
	</style>
	<h1>Welcome to the EOD MAT Trainer</h1>
	
  <p>Please enter name, tool, and material</p>

  <style>
    button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    background-color: green;
    color: #fff;
    border: none;    
    outline: none;
    border-radius: 5px;
  }
  </style>
        
<div id="myDIV" style="text-align:center;">
    <p>Username:
    <input id="userNameVal" type="text" placeholder="Username">
    </p>
</div>

<div id="myDIV" style="text-align:center;">
  <p>Tool:
  <input id="toolVal" type="text" placeholder="Tool">
  </p>
</div>

<div id="myDIV" style="text-align:center;">
  <p>Material:
  <input id="matVal" type="text" placeholder="Barrier Material">
  </p>
</div>

<div id="myDIV" style="text-align:center;">
  <button id="submitNames" onclick="returnText()">Save Input</button>
</div>

<div div id="myDIV" style="text-align:center;">
  <form action="{% url 'force_setup'%}">
    <button id="nextPage" type="submit">Start</button>
  </form>
</div>

<script>
  submitNames.style.backgroundColor = 'gray';
  nextPage.style.backgroundColor = 'gray';
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<script>
var input;
function returnText(){
    usernameValInput = document.getElementById("userNameVal").value;
    toolValInput = document.getElementById("toolVal").value;
    matValInput = document.getElementById("matVal").value;
    console.log(usernameValInput);
    console.log(toolValInput);
    console.log(matValInput);
    sessionStorage.setItem("USERNAME", usernameValInput);
    sessionStorage.setItem("TOOL", toolValInput);
    sessionStorage.setItem("MAT", matValInput);
    submitNames.style.backgroundColor = 'green';
    nextPage.style.backgroundColor = 'green';
}

</script>

</head>
</html>